
body {
    padding: 30px 30px;
    background-color:#ACE1AF;
    }

h1{
    font-family:'Verdana', sans-serif;
    font-size: 24px;
    font-weight:bold;
    text-align:center;
}

h2{
    font-family:'Verdana', sans-serif;
    font-size: 18px;
    text-align:center;
}

/**Styling the Navigation bar START **/
 .navigation a {
    float: left;
    color: black;
    text-align: right;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }

  /* Change the color of links on hover */
  .navigation a:hover {
    background-color: #006400;
    color: white;
  }

  /* Add a color to the active/current link */
  .navigation a.active {
    background-color: yellow;
    color:black;
  }
  /**Styling the navigation bar END **/

  /**Styling the form START **/
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #006400;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }
  /**Styling the form END **/

  /**Styling the table START**/
 table {
  width: 100%;
  border-collapse: collapse;
}
th {
  height: 70px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
td {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {background-color: #D0F0C0;}
th {
  background-color: #006400;
  color: white;
}


